@forward 'variables';
@use 'mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');


html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height           : 100vh;
  color                : var(--text-color);
  font-family          : 'M PLUS 1p', sans-serif;
  font-size            : var(--fs-medium);
  line-height          : var(--line-height-normal);
  letter-spacing       : var(--letter-spacing-normal);
  word-wrap            : break-word;
  font-feature-settings: 'palt';
  leading-trim         : both;
}

p {
  margin : 0;
  padding: 0;
}

i {
  color: var(--text-color);
}

span,
small {
  display: inline-block;
}

small {
  font-size: var(--fs-small);
}

h1, h2, h3, h4, h5, h6 {
  margin     : 0;
  padding    : 0;
  color      : inherit;
  font-weight: bold;
  font-size  : inherit;
}

ul, ol, li, dl, dt, dd {
  margin    : 0;
  padding   : 0;
  list-style: none;

  &[role='list'] {
    list-style: none;
  }
}

em,
address {
  font-style: normal;
}

img {
  display   : block;
  max-width : 100%;
  max-height: 100%;
}

fieldset {
  margin : 0;
  padding: 0;
  border : none;
}

legend {
  margin : 0;
  padding: 0;
}

input,
option,
button,
select {
  background-color: transparent;
  border          : none;
  outline         : none;
  color           : var(--text-color);
  line-height     : var(--line-height-normal);
  letter-spacing  : var(--letter-spacing-normal);
  appearance      : none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--disable-text-color);
  }

  &[type="date"] {
    &:focus,
    &:valid {
      &::before {
        display: none;
      }
    }
  }
}

button {
  padding   : 0;
  border    : none;
  outline   : none;
  font      : inherit;
  color     : inherit;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;

  th,
  td {
    text-align    : left;
    vertical-align: middle;
  }
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
