
$breakpoint: (
  mobile : 'screen and (max-width: 468px)',
  tablet : 'screen and (max-width: 768px)',
  desktop: 'screen and (min-width: 1024px)'
);

@mixin mediaScreen($bp) {
  @media #{map-get($breakpoint, $bp)} {
  @content;
  }
}