  @use 'functions' as *;

$maxViewport: 1440;
$minViewport: 740;

:root {
  // COLOR
  --white             : #FFFFFF;
  --dark-white        : #E4D2DB;
  --black             : #333333;
  --light-black       : #555555;
  --pink              : #DF237E;
  --gray              : #D9D9D9;
  --background-color  : linear-gradient(166deg, #BF3D7B 49.63%, #C3512D 91.91%);
  --background-overlay: linear-gradient(90deg, rgba(235, 66, 106, 0.20) 0.13%, rgba(235, 66, 106, 0.80) 99.88%);
  --button-gradient   : linear-gradient(165.83deg, #F44B7E 9.91%, #D64949 91.91%);
  --base-color        : var(--pink);
  --main-color        : var(--pink);
  --text-color        : var(--white);
  --border-color      : var(--white);
  --box-shadow        : 0px 0px 64px rgba(47, 7, 26, 0.2);
  --transparent-white :rgba(255, 255, 255, 0.6);

  // FONT
  --fs-medium            : #{calcClamp(14, 16, $minViewport, $maxViewport)};
  --fs-large             : #{calcClamp(16, 18, $minViewport, $maxViewport)};
  --fs-larger            : #{calcClamp(18, 22, $minViewport, $maxViewport)};
  --fs-max               : #{calcClamp(22, 32, $minViewport, $maxViewport)};
  --fs-small             : #{calcClamp(12, 14, $minViewport, $maxViewport)};
  --fs-smaller           : #{calcClamp(11, 12, $minViewport, $maxViewport)};
  --fs-heading           : clamp(10rem, 26.67vw, 20rem);
  --fs-min               : 10px;
  --line-height-tight    : 1.12;
  --line-height-narrow   : 1.4;
  --line-height-normal   : 1.6;
  --letter-spacing-normal: .08em;
  --letter-spacing-narrow: .04em;
  --font-family-rounded  : 'M PLUS Rounded 1c', sans-serif;

  //BORDER
  --border-size       : clamp(0.5rem, -0.342rem + 2.88vw, 1.5rem);
  --border-radius-base: clamp(1rem, -0.683rem + 5.76vw, 3rem);
  --border-margin     : clamp(0.5rem, -2.446rem + 10.07vw, 4rem);

  // VALUE
  --bv                   : #{calcClamp(6, 8, $minViewport, $maxViewport)};
  --sp                   : #{calcClamp(6, 8, $minViewport, $maxViewport)};
  --sp-max               : calc(var(--sp) * 16);
  --sp-larger            : calc(var(--sp) * 8);
  --sp-large             : calc(var(--sp) * 4);
  --sp-medium            : calc(var(--sp) * 2);
  --sp-small             : var(--sp);
  --sp-min               : calc(var(--sp) / 2);
  --golden-ratio         : 1.618 / 1;
  --silver-ratio         : 1.414 / 1;
  --mobile-lower-width   : 430px;
  --tablet-lower-width   : 740px;
  --desktop-lower-width  : 980px;
  --contents-max-width   : 1440px;
  --global-header-height : calc(var(--bv) * 8);
  --global-sub-nav-height: calc(var(--bv) * 6);
  --z-index-max          : 100;
  --z-index-overlay      : 90;
  --z-index-tooltip      : 80;
  --z-index-nav          : 70;
  --z-index-header       : 60;
  --z-index-contents     : 50;
}
